<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book</title>
</head>
<body>
    <table class="books">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genres</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">1</td>
            <td th:text="${book.title}">John Doe</td>
            <td th:text="${book.author.fullName}">John Doe</td>
            <td th:text="${#strings.listJoin(book.genreList.![name], ',')}">Genre_1</td>
            <td>
                <a th:href="@{/book/edit(id=${book.id})}" href="editBook.html">Edit</a>
            </td>
            <td>
                <form th:action="@{/book/delete(id=${book.id})}" th:method="post" action="bookList.html">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/book/create}" href="createBook.html">Create</a>
</body>
